<script>
  //is questions used because that is the service call name?
  console.log('q');

  console.log(selectedQuiz);
  var monsterQuiz = new MonsterQuiz(selectedQuiz.id);

  monsterQuiz.setQuizQuestions(questions);
  monsterQuiz.startQuiz();

  $(function() {

    $('#timer').imageTimer({
      finish: function () {
        $('#zImg .start').css('display', 'none');
        $('#zImg .animate').css('display', 'block');
        var image = new Image();
        image.src = 'ripper.gif'
        $('#zImg .animate').attr('src',image.src);
        monsterQuiz.setOption(31);

        setTimeout(function () {
          //$('#zImg .animate').css('display', 'none');
          $('#zImg .animate').attr('src','');
          $('#zImg .end').css('display', 'block');
        }, 3800);
      },
      seconds: 60,
      updateTarget: '#timerMsg',
      update: 15000,
      updates: [
        'You should hurry....',
        'Are you taking this seriously?',
        'Did I mention this is a matter of life and death?',
        'You were too slow. Go ahead and finish. Take your time. Not like there is a zombie apacalypse to worry about.'
      ],
    });

  });

</script>
