
<script type="text/javascript">
var selectedQuiz = <%= raw @selectedQuiz.to_json %>;
var questions = <%= raw @questions.to_json %>;
var quiz_questions = <%= raw @quiz_questions.to_json %>;
</script>
<div class="row">
  <div id="timerMsg">&nbsp;</div>
  <div class="timerHolder">
    <div id="timer"></div>
  </div>
</div>
<div class='row'>
  <div class='small-4 large-centered columns'>
    <div id="zImg">
      <img class="animate" src="" style="display: none;" />
      <img class="start" src="/assets/ripperStart.png" />
      <img class="end" src="/assets/ripperEnd.gif" style="display: none;" />
    </div>
  </div>
</div>

<div class="row">
  <div class="small-6 large-centered columns">
    <div class="questionText"></div>
    <fieldset class='radioGroup'>
    </fieldset>
    <button id="saveContinue">S & C</button>
  </div>
</div>

<%= render partial: 'questions/index_js' %>




