<div class="row">
<!--why isn't this responsive-->
  <div class="small-3 columns" id="app-title">
    <h1>ZombieMe</h1>
  </div>
</div>

<div class="row">
  <div class="small-9 small-offset-2 columns">
    <p>The End is Nigh</p>
  </div>
</div>


<div class="row">
  <div class="medium-3 columns">3</div>
  <div class="medium-3 columns">3</div>
  <div class="medium-3 columns">3</div>
</div>

<% @quizzes.each do |quiz| %>
  <% first_quiz_question = quiz.questions.first %>
  <a href="/quizzes/<%= quiz.id %>/questions/<%= first_quiz_question.id %>"><%= quiz.label %></a>
<% end %>

<!--can you explain how the partials work-->
 <% #render partial: 'home/index_js' %>

