// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.rowRight {
  text-align: right;
}

@font-face {
      font-family: "shock_shimmy";
      src:font-url('/assets/shock_shimmy.ttf') format("truetype");
      font-weight: normal;
      font-style: normal;
  }

@font-face {
      font-family: "city_burn";
      src:font-url('/assets/city_burn.ttf') format("truetype");
      font-weight: normal;
      font-style: normal;
  }

.alert-success{
  display: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.navbar-text{
  font-family: "city_burn";
  font-size: 1em;
  color: black;
}

h3{
  font-family: "city_burn";
  font-size: 2em;
  color: black;
}

p{
  font-family: "city_burn";
  font-size: 1em;
  color: black;
}

#user_email, #user_password, #user_password_confirmation{
    background-color:transparent;
    border: 0px solid;
    box-shadow: none;
    border-bottom: 1px solid black;
    font-size: 1em;
    // font-family: 'shock_shimmy'
  }

label{
  font-family: "city_burn";
  font-size: 1.5em;
  color: black;
}

a{
  font-family: "city_burn";
  font-size: 1.5em;
  color: black;
}

  a:hover{
    color: #640618;
  }

.begin {
  text-align: center;
}

h2{
  color: #5f031a;
  font-family: "shock_shimmy";
  font-size: 3em;
}

.sign-up h2, .sign-in h2{
  color: #5f031a;
  font-family: "shock_shimmy";
  font-size: 3em;
}

.homeContainer {
  height: 95%;
  width: 100%;
  max-width: 1920px;
  background-color: #494949;
  background-repeat: no-repeat;
  background-position: right top;
  border-top: 3px solid black
}

.button{
  background-color: black;
  color: #f3ea2b;
  font-size: 18px;
  font-family: "city_burn";
  letter-spacing: 5px;
  border-radius: 3px;
}
  .button:hover{
    background-color: #640618;
    color: #f3ea2b;
  }

#app-title h1{
  font-size: 3em;
  font-family: "shock_shimmy";
}

.quizDiv{
  cursor: pointer;
}

  .quizDiv:hover{
    color: #640618;
  }

.bcg1, .bcg2, .bcg3, .bcg4, .bcg5, .bcg6, .bcg7, .bcg8, .bcg9{
  height: 9em;
}

.bcg1{
  background-image: url('comic_1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid black;
}

.bcg2{
  text-align: center;
  background-color: #f3ea2b;
  font-family: "city_burn";
  border-top: 3px solid black;

}

  .bcg2 p{
    line-height: 140px;
    font-size: 3em;
  }

.bcg3{
  background-image: url('zombie_4.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid black;
}

.bcg4{
  background-color: #f3ea2b;
  border-left: 3px solid black;
}

.bcg5{
  background-image: url('zombie_5.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid black;
}

.bcg6{
  background-color: #f3ea2b;
  border-right: 3px solid black;
}

.bcg7{
  background-image: url('zombie_6.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid black;
}

.bcg8{
  background-color: #f3ea2b;
  border-bottom: 3px solid black;

}

.bcg9{
  background-image: url('zombie_7.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid black;
}


.the-end p{
    font-size: 2em;
    text-align: center;
    font-family: "shock_shimmy";
    font-size: 6em;
    color: #f3ea2b;
}

.navbar-text.pull-right{
  // color: white;
}

.reset{
  text-align: center;
}

.radioGroup{
label{ position:relative; padding-left:32px; cursor:pointer; transition:0.2s; }
label:hover{ color:#FFF; }
label::before, label::after{ content:''; position:absolute; top:50%; margin-top:-11px; left:0; width:22px; height:22px; border-radius:20px; }
label::before{ box-shadow:0 1px 0 rgba(255,255,255,0.25), 0 2px 5px 6px rgba(0,0,0,0.5) inset; }
label::after{ background:#79EAC5; opacity:.2; -webkit-transform:scale(0); transform:scale(0); transition:0.3s; }
label:hover::after{ -webkit-transform:scale(0.6); transform:scale(0.6); opacity:1; transition:0.2s; }
input:checked + label::after{ -webkit-transform:scale(0.7); transform:scale(0.8); opacity:1; box-shadow:0 0 15px -1px #79EAC5; }


/*----------------------------
  PAGE RESET
-----------------------------*/
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(http://themes.googleusercontent.com/static/fonts/robotocondensed/v7/Zd2E9abXLFGSr9G3YK2MsFzqCfRpIA3W6ypxnPISCPA.woff) format('woff');
}

html{ height:100%; }
body{
 height:100%; text-align:center; font:1.5em 'Roboto Condensed', arial;
 background-image: -webkit-radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
 background-image: -moz-radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
 background-image: -o-radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
 background-image: radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
}

*{ margin:0; padding:0; }

fieldset{ display:inline-block; color:rgba(255,255,255,0.6); padding:30px 60px 50px; border:4px solid rgba(0,0,0,0.2); box-shadow:0 1px 0 rgba(255,255,255,0.1), 0 -160px 50px -80px rgba(0,0,0,0.1) inset; border-radius:20px; margin:50px auto; text-shadow:1px 3px 1px rgba(0,0,0,0.3); }
legend{ padding:0 20px; dislpay:inline-block; color:#79EAC5; text-transform:uppercase; }
fieldset label{ margin:0 20px; }
}
