// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  // background-image: url('redzombie.jpg');

}

#app-title h1{
  font-size: 8em;
}

.navbar-text.pull-right{
  // color: white;
}

.circle {
    width: 80%;
    height:80%;
    padding-bottom: 100%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-image: url('redzombie.jpg');
    background-position: center;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
